@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0; }

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

:focus, :active {
  outline: none; }

a:focus, a:active {
  outline: none; }

nav, footer, header, aside {
  display: block; }

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

input, button, textarea {
  font-family: inherit; }

input::-ms-clear {
  display: none; }

button {
  cursor: pointer; }

button::-moz-focus-inner {
  padding: 0;
  border: 0; }

a, a:visited {
  text-decoration: none; }

a:hover {
  text-decoration: none; }

ul li {
  list-style: none; }

img {
  vertical-align: top; }

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit; }

/*--------------------*/
html,
body {
  height: 100%; }

/**body.lock {
	overflow: hidden;
}*/
.ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative; }

.ibg img {
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden; }

.wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column; }

.container {
  width: 96%;
  margin: 0 auto; }
  @media (min-width: 768px) {
    .container {
      width: 70%;
      max-width: 1600px; } }

.main {
  font-family: 'Roboto Slab', serif;
  color: #555555; }

.btn {
  display: inline-block;
  padding: .6em 2em;
  border: 2px solid #fff;
  color: #fff;
  text-transform: uppercase;
  font-weight: 700; }

.section {
  padding: 60px 0; }
  @media (min-width: 768px) {
    .section {
      padding: 100px 0; } }

.title {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1.2em; }
  .title__text {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
    position: relative;
    margin-bottom: 1.2em; }
    @media (min-width: 768px) {
      .title__text {
        font-size: 20px; } }
  .title__line {
    width: 50px;
    height: 2px;
    background-color: #555555; }

.subtitle {
  display: inline-block;
  font-size: 16px;
  text-align: center;
  line-height: 1.2; }
  @media (min-width: 768px) {
    .subtitle {
      font-size: 16px; } }

.slick-list {
  overflow: hidden; }
.slick-track {
  display: flex; }

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif; }

.fullscreen {
  min-height: 100vh;
  display: flex;
  position: relative; }
  .fullscreen__mask {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.45); }
  .fullscreen__body {
    width: 100%;
    height: 60vh;
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    color: #fff; }
  .fullscreen__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 2; }
  .fullscreen__title {
    font-size: 36px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    line-height: 1.2;
    margin-bottom: 0.4em; }
    @media (min-width: 768px) {
      .fullscreen__title {
        font-size: 48px;
        margin-bottom: 0.5em; } }
  .fullscreen__subtitle {
    font-size: 14px;
    text-transform: capitalize;
    margin-bottom: 2.4em; }
    @media (min-width: 768px) {
      .fullscreen__subtitle {
        font-size: 18px;
        margin-bottom: 2.8em; } }
  .fullscreen__link {
    font-size: 14px; }
    @media (min-width: 768px) {
      .fullscreen__link {
        font-size: 18px; } }

.header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 50; }
  @media (min-width: 768px) {
    .header {
      position: relative;
      align-self: flex-start; } }
  .header:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #C0301C;
    z-index: 2; }
    @media (min-width: 768px) {
      .header:before {
        background-color: rgba(192, 48, 28, 0); } }
  .header__body {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    font-family: 'Montserrat', sans-serif; }
    @media (min-width: 768px) {
      .header__body {
        /*flex-direction: row;
        justify-content: space-between;
        align-items: center;*/
        height: 80px; } }
  .header__logo {
    font-weight: 700;
    font-size: 16px;
    color: #fff;
    text-transform: capitalize;
    z-index: 3; }
    @media (min-width: 768px) {
      .header__logo {
        font-size: 20px; } }
  .header__burger {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
    z-index: 5; }
    .header__burger:before, .header__burger:after {
      content: '';
      width: 100%;
      height: 2px;
      position: absolute;
      left: 0;
      background-color: #fff;
      transition: all 0.3s ease 0s; }
    .header__burger:before {
      top: 0; }
    .header__burger:after {
      bottom: 0; }
    .header__burger span {
      width: 100%;
      height: 2px;
      position: absolute;
      background-color: #fff;
      left: 0;
      top: 9px;
      transition: all 0.3s ease 0s; }
    .header__burger.active:before {
      transform: rotate(45deg);
      top: 9px; }
    .header__burger.active:after {
      transform: rotate(-45deg);
      bottom: 9px; }
    .header__burger.active span {
      transform: scale(0); }
    @media (min-width: 768px) {
      .header__burger {
        display: none; } }
  .header__menu {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #C0301C;
    padding: 80px 0 0 10px;
    transition: all 0.3s ease 0s; }
    .header__menu.active {
      top: 0; }
    @media (min-width: 768px) {
      .header__menu {
        width: 60%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        position: static;
        padding: 0;
        background-color: rgba(192, 48, 28, 0);
        transition: all 0s ease 0s; } }
  .header__list {
    display: flex;
    flex-direction: column; }
    @media (min-width: 768px) {
      .header__list {
        flex-direction: row;
        position: relative;
        z-index: 3; } }
  .header__item {
    list-style: none;
    margin: 0 0 20px 0; }
    @media (min-width: 768px) {
      .header__item {
        margin: 0 20px 0 0; }
        .header__item:last-child {
          margin: 0; } }
  .header__link {
    font-size: 14px;
    color: #fff;
    text-transform: capitalize;
    border: 1px solid rgba(255, 255, 255, 0); }
    .header__link:hover {
      /*font-weight: 700;
      text-decoration: underline;*/
      border: 1px solid #fff; }

.services__container {
  display: flex;
  flex-direction: column;
  align-items: center; }
.services__content {
  display: flex;
  flex-direction: column; }
  @media (min-width: 576px) {
    .services__content {
      width: 80%;
      margin: 0 auto; } }
  @media (min-width: 768px) {
    .services__content {
      width: 100%;
      margin: 0; } }
  @media (min-width: 992px) {
    .services__content {
      /*width: 100%;
      margin: 0;*/
      margin-top: 70px;
      flex-direction: row;
      justify-content: space-between; } }
.services__block {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  padding: 30px 5px 0 5px; }
  @media (min-width: 768px) {
    .services__block {
      flex-direction: row;
      align-items: flex-start; } }
  @media (min-width: 992px) {
    .services__block {
      width: 28%;
      flex-direction: column;
      align-items: center; } }
.services__heard {
  display: flex;
  flex-direction: column;
  align-items: center; }
  @media (min-width: 768px) {
    .services__heard {
      width: 40%;
      align-self: center;
      align-items: flex-start; } }
  @media (min-width: 992px) {
    .services__heard {
      width: 100%;
      margin-right: 0;
      align-items: center; } }
.services__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  border: 1px solid #555555;
  border-radius: 50%; }
  .services__icon--1 {
    background-color: #C0301C; }
  @media (min-width: 992px) {
    .services__icon {
      width: 90px;
      height: 90px; } }
.services img {
  max-width: 100%; }
.services__littletitle {
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  text-align: center;
  font-size: 14px;
  padding: 1em 0; }
  @media (min-width: 992px) {
    .services__littletitle {
      line-height: 2.2; } }
.services__text {
  font-family: 'Roboto Slab', serif;
  text-align: center;
  font-size: 14px;
  line-height: 1.4; }
  @media (min-width: 768px) {
    .services__text {
      width: 55%;
      text-align: left;
      line-height: 1.8; } }
  @media (min-width: 992px) {
    .services__text {
      width: 100%;
      text-align: center; } }

.about {
  background-color: #F8F8F8; }
  .about__container {
    display: flex;
    flex-direction: column;
    align-items: center; }
  .about__content {
    display: flex;
    min-width: 0;
    flex-direction: column; }
    @media (min-width: 576px) {
      .about__content {
        width: 80%;
        margin: 0 auto; } }
    @media (min-width: 768px) {
      .about__content {
        width: 100%;
        margin: 0; } }
    @media (min-width: 992px) {
      .about__content {
        margin-top: 70px;
        /*flex-direction: row;
        justify-content: space-between;*/ } }
  .about__inform {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 5px 0 5px; }
    @media (min-width: 768px) {
      .about__inform {
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 60px; } }
  .about__column:first-child {
    margin-bottom: 20px; }
  @media (min-width: 768px) {
    .about__column {
      width: 48%; }
      .about__column:first-child {
        margin-bottom: 0; } }
  .about__text {
    font-family: 'Roboto Slab', serif;
    text-align: left;
    font-size: 14px;
    line-height: 1.4; }
    @media (min-width: 768px) {
      .about__text {
        line-height: 1.8; } }
  .about__slider {
    width: 100%;
    display: flex; }
  .about__slide {
    width: 22%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 6%; }
    .about__slide:first-child {
      margin-left: 0; }
  .about__img {
    max-width: 100%;
    position: relative; }
  .about__mask {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #555555;
    opacity: 0; }
    .about__mask.visible {
      opacity: 0.5; }
  .about__list {
    display: none; }
    .about__list.visible {
      display: flex;
      position: absolute;
      justify-content: center;
      width: 100%;
      bottom: 10%; }
  .about__item {
    display: flex;
    width: 30px;
    height: 30px;
    justify-content: center;
    align-items: center; }
    .about__item:hover {
      background-color: #C0301C; }
  .about__caption {
    margin: 30px 0;
    text-align: center; }
    .about__caption--name {
      display: block;
      margin-bottom: 20px;
      font-size: 14px;
      text-transform: uppercase; }
    .about__caption--position {
      font-size: 13px;
      text-transform: capitalize; }

.sliderAbout {
  min-width: 0;
  position: relative; }
  .sliderAbout .slick-arrow {
    position: absolute;
    top: 50%;
    z-index: 10; }
    .sliderAbout .slick-arrow:hover, .sliderAbout .slick-arrow:active {
      background-color: #C0301C; }
    .sliderAbout .slick-arrow.slick-prev {
      left: 0;
      background: url("../img/about/icons/angle-left.png") 0 0 no-repeat; }
    .sliderAbout .slick-arrow.slick-next {
      right: 0;
      background: url("../img/about/icons/angle-right.png") 0 0 no-repeat; }

/*.about__slider {}
.sliderAbout {}
.sliderAbout__slide {}
.sliderAbout__img {}
.sliderAbout__list {}
.sliderAbout__item {}
.sliderAbout__link {}
.sliderAbout__caption {}
.sliderAbout__text {}
.sliderAbout__subtext {}*/
.works {
  width: 100%; }
  .works__container {
    display: flex;
    flex-direction: column;
    align-items: center; }
  .works__content {
    display: flex;
    flex-direction: column;
    margin-top: 30px; }
    @media (min-width: 576px) {
      .works__content {
        width: 80%;
        margin-bottom: 0; } }
    @media (min-width: 768px) {
      .works__content {
        width: 100%; } }
    @media (min-width: 992px) {
      .works__content {
        margin-top: 50px; } }
  .works__filtr {
    margin-bottom: 20px; }
    @media (min-width: 992px) {
      .works__filtr {
        margin-bottom: 40px; } }
  .works__gallery {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap; }
  .works__item {
    display: flex;
    width: 310px;
    margin: 10px auto;
    position: relative; }
    @media (min-width: 450px) {
      .works__item {
        width: 60%;
        margin: 10px auto; } }
    @media (min-width: 576px) {
      .works__item {
        width: 46%;
        margin: 10px 2% 10px 0; } }
    @media (min-width: 768px) {
      .works__item {
        width: 31%;
        margin: 20px 1% 20px 0; } }
  .works__img {
    max-width: 100%;
    min-width: 100%;
    object-fit: cover; }
  .works__caption {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0; }
  .works__mask {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #C0301C;
    opacity: 0; }
    .works__mask.visible {
      opacity: 0.5; }

.caption {
  display: none; }
  .caption.visible {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff; }
  .caption__title {
    font-size: 18px;
    font-weight: 500;
    text-transform: capitalize;
    text-align: center;
    margin-bottom: 15px; }
  .caption__groupe {
    font-size: 12px;
    text-transform: capitalize;
    text-align: center;
    margin-bottom: 15px; }
  .caption__link {
    display: block;
    font-size: 14px;
    padding: 8px 15px;
    color: #C0301C;
    background-color: #fff; }

.filtr {
  display: flex;
  justify-content: center; }
  .filtr__list {
    display: flex; }
  .filtr__item {
    display: inline-block;
    margin: 0 5px;
    font-size: 14px;
    text-transform: capitalize;
    cursor: pointer; }
    @media (min-width: 678px) {
      .filtr__item {
        margin: 0 10px;
        font-size: 16px; } }
    .filtr__item.active {
      color: #C0301C; }

.blog {
  width: 100%; }
  .blog__container {
    display: flex;
    flex-direction: column;
    align-items: center; }
  .blog__content {
    display: flex;
    flex-direction: column; }
    @media (min-width: 576px) {
      .blog__content {
        width: 80%;
        margin: 0 auto; } }
    @media (min-width: 768px) {
      .blog__content {
        width: 100%;
        margin: 0; } }
    @media (min-width: 992px) {
      .blog__content {
        margin-top: 70px; } }
  .blog__block {
    display: flex;
    width: 96%;
    margin: 0 auto;
    flex-direction: column;
    padding: 30px 5px 10px 5px;
    border-bottom: 1px solid #dddddd; }
    .blog__block:last-child {
      border-bottom: 2px solid #fff; }
    @media (min-width: 768px) {
      .blog__block {
        flex-direction: row; } }
  .blog__img {
    width: 100%;
    margin-bottom: 30px; }
    .blog__img img {
      max-width: 100%; }
    @media (min-width: 768px) {
      .blog__img {
        width: 40%; } }
  .blog__article {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start; }
    @media (min-width: 768px) {
      .blog__article {
        width: 55%;
        margin-left: 5%; } }
  .blog__top {
    display: flex;
    margin-bottom: 15px; }
  .blog__date {
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #555555; }
    .blog__date p {
      display: block;
      font-size: 18px;
      font-weight: 700;
      line-height: 1.5;
      text-align: center; }
    .blog__date span {
      display: block;
      font-size: 11px;
      font-weight: 400;
      text-transform: uppercase; }
  .blog__head {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 10px; }
  .blog__articletitle {
    display: block;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 700;
    text-align: left;
    padding-bottom: 10px; }
    .blog__articletitle:hover {
      color: #C0301C; }
    @media (min-width: 768px) {
      .blog__articletitle {
        font-size: 14px; } }
  .blog__signature {
    font-size: 12px;
    font-style: italic;
    text-align: left; }
  .blog__link {
    color: #555555; }
    .blog__link:hover {
      color: #C0301C; }
  .blog__text {
    display: flex;
    height: 100px;
    font-size: 14px;
    line-height: 1.4;
    margin-bottom: 15px;
    overflow: hidden; }
    .blog__text.visible {
      overflow: visible;
      height: auto; }
  .blog__btn {
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    background-color: #fff;
    color: #555555; }
    .blog__btn:hover {
      color: #C0301C; }
    @media (min-width: 768px) {
      .blog__btn {
        font-size: 14px; } }

.clients {
  background-color: #F8F8F8; }
  .clients__container {
    min-width: 0;
    display: flex;
    flex-direction: column;
    align-items: center; }
    @media (min-width: 992px) {
      .clients__container {
        width: 60%; } }
  .clients__head {
    width: 100%;
    margin-bottom: 60px; }
  .clients__list {
    display: flex;
    flex-direction: column;
    align-items: center; }
    @media (min-width: 768px) {
      .clients__list {
        flex-direction: row;
        justify-content: space-between; } }
  .clients__item {
    display: inline-block;
    margin-bottom: 20px; }
    @media (min-width: 768px) {
      .clients__item {
        margin: 0 20px; } }
  .clients__logo {
    display: flex;
    height: 100%;
    align-items: center; }
  .clients__img {
    max-width: 100%; }
  .clients__slider {
    width: 92%;
    margin: 0 auto; }
    @media (min-width: 768px) {
      .clients__slider {
        width: 80%; } }
  .clients__slide {
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-family: 'Roboto Slab', serif;
    color: #555555; }
  .clients__text {
    display: inline-block;
    font-style: italic;
    font-size: 16px;
    padding-bottom: 2em; }
    @media (min-width: 992px) {
      .clients__text {
        font-size: 18px; } }
  .clients__caption {
    display: inline-block;
    font-size: 16px;
    padding-bottom: 2em; }
    @media (min-width: 992px) {
      .clients__caption {
        font-size: 18px; } }

.sliderClients {
  position: relative; }
  .sliderClients .slick-dots {
    display: flex;
    justify-content: center;
    align-items: center; }
    .sliderClients .slick-dots li {
      list-style: none;
      margin: 0 6px; }
      .sliderClients .slick-dots li.slick-active button {
        background-color: #C0301C; }
    .sliderClients .slick-dots button {
      font-size: 0;
      width: 14px;
      height: 14px;
      background-color: #dddddd;
      border-radius: 50%; }

/* Слайдер */
/* Слайдер запущен */
/* Слайдер с точками */
/* Ограничивающая оболочка */
/* Лента слайдов */
/* Слайд */
/* Слайд активный (показывается) */
/* Слайд основной */
/* Слайд по центру */
/* Клонированный слайд */
/* Стрелка */
/* Стрелка влево */
/* Стрелка вправо */
/* Стрелка не активная */
/* Точки (булиты) */
/* Активная точка */
/* Элемент точки */
.contact {
  /*&__form{
  	width: 100%;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	padding: 30px 0 0 0;
  }*/ }
  .contact__container {
    display: flex;
    flex-direction: column;
    align-items: center; }
  .contact__content {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 0 auto; }
    @media (min-width: 576px) {
      .contact__content {
        width: 80%; } }
    @media (min-width: 768px) {
      .contact__content {
        width: 100%;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        margin: 0; } }
    @media (min-width: 992px) {
      .contact__content {
        margin-top: 70px; } }
  .contact__inform {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 30px 0 0 0; }
    @media (min-width: 768px) {
      .contact__inform {
        width: 40%; } }
    @media (min-width: 992px) {
      .contact__inform {
        width: 30%; } }
    @media (min-width: 1024px) {
      .contact__inform {
        width: 25%; } }
  .contact__item {
    display: flex;
    flex-direction: column; }
  .contact__head {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 600;
    line-height: 1.5;
    text-transform: uppercase;
    text-align: left;
    padding-left: 20px;
    position: relative; }
    @media (min-width: 768px) {
      .contact__head {
        font-size: 15px; } }
    .contact__head:before {
      content: '';
      width: 15px;
      height: 20px;
      position: absolute;
      top: 0;
      left: 0;
      margin-right: 10px;
      display: block; }
    .contact__head--addr:before {
      background: url("../img/contacts/icons/address.png") no-repeat; }
    .contact__head--phone:before {
      background: url("../img/contacts/icons/phone.png") no-repeat; }
    .contact__head--mail:before {
      background: url("../img/contacts/icons/envelope.png") no-repeat; }
  .contact__text {
    display: block;
    font-size: 12px;
    margin: 0px 0 15px 23px; }
    @media (min-width: 768px) {
      .contact__text {
        font-size: 14px;
        margin: 10px 0 20px 23px; } }

.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 30px 0 0 0; }
  @media (min-width: 768px) {
    .form {
      width: 55%; } }
  @media (min-width: 992px) {
    .form {
      width: 65%; } }
  @media (min-width: 1024px) {
    .form {
      width: 72%; } }
  .form__row {
    width: 100%;
    display: flex;
    flex-direction: column; }
    @media (min-width: 992px) {
      .form__row {
        flex-direction: row;
        justify-content: space-between; } }
  .form__input {
    width: 100%;
    padding: 10px;
    font-size: 12px;
    text-transform: uppercase;
    border: 1px solid #555555;
    margin: 7px 0; }
    .form__input:hover, .form__input:focus {
      border-color: #C0301C; }
    @media (min-width: 992px) {
      .form__input {
        width: 49%;
        margin: 0 0 20px 0; } }
    .form__input--btn {
      width: 50%;
      background-color: #fff;
      text-align: center;
      color: #555555; }
      .form__input--btn:hover, .form__input--btn:focus {
        color: #C0301C; }
      @media (min-width: 992px) {
        .form__input--btn {
          width: 170px;
          margin: 0; } }
  .form__field {
    width: 100%;
    height: 100px;
    padding: 10px;
    font-size: 12px;
    text-transform: uppercase;
    border: 1px solid #555555;
    margin: 7px 0; }
    .form__field:hover, .form__field:focus {
      border-color: #C0301C; }
    @media (min-width: 992px) {
      .form__field {
        margin: 0 0 20px 0; } }
  .form__button {
    width: 100%;
    display: flex;
    flex-direction: column; }
    @media (min-width: 992px) {
      .form__button {
        flex-direction: row;
        justify-content: flex-start;
        align-items: center; } }
  .form__message {
    font-size: 10px; }
    @media (min-width: 992px) {
      .form__message {
        font-size: 12px;
        margin-left: 20px; } }
    .form__message span {
      color: #C0301C; }

.footer {
  width: 100%;
  background-color: #C0301C; }
  .footer__container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 50px 0; }
    @media (min-width: 768px) {
      .footer__container {
        margin: 100px 0; } }
  .footer__social {
    display: flex;
    margin-bottom: 20px; }
  .footer__list {
    display: flex; }
  .footer__item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
    border: 2px solid #fff;
    border-radius: 50%;
    margin: 0 5px; }
    .footer__item:hover {
      background-color: #8f8f8f;
      border-color: #8f8f8f; }
  .footer__line {
    width: 50px;
    height: 2px;
    background-color: #fff;
    margin-bottom: 20px; }
  .footer__text {
    font-family: 'Roboto Slab', serif;
    font-size: 8px;
    text-transform: uppercase;
    color: #fff;
    text-align: center; }
    @media (min-width: 768px) {
      .footer__text {
        font-size: 11px; } }

/*# sourceMappingURL=style.css.map */
