//Variables
/*$brandTurquoise: #50C3AF;
$iconColor: $brandTurquoise;
$mainButtonColor: $brandTurquoise;
$greyButtonColor: #D2D5DA;
$titleColor: #40474E;
$footerColor: $brandTurquoise;
$darkBlue: #446068;
$darkBlueRGB: rgb(0, 57, 77);
$bgColor: #EEEEEF;
$containerWidth: 85%;
$containerPadding320: 20px 0;
$containerPadding576: 30px 0;
$containerPadding768: 40px 0;*/
//________________________________________
$brandRed: #C0301C;
$brandRedRGB: rgb(192, 48, 28);
$containerWidth: 70%;
$textColor: #555555;

